eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

okta:
  oauth2:
    issuer: https://dev-15585796.okta.com/oauth2/default
    audience: api://default

spring:
  zipkin:
    base-url: http://zipkin-svc:9411
